* {
    outline: none;
}

.wish_list__container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.wish_list__table {
    border: 1px solid #e9e9e9;
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0 90px 0;
}

.wish_list__table  tr, .wish_list__table td, .wish_list__table th {
    border: 1px solid #e9e9e9;;
}

.wish_list__table tr {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.wish_list__table th {
    color: #534f4f;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    font-family: Quicksand;
    padding: 16px 9px;
}

.wish_list__table td > a > img {
    height: 150px;
    margin: 7px;
    cursor: pointer;
}

.wish_list__remove_button {
    background-color: transparent;
    border: none;
    width: 10px;
    cursor: pointer;
}

.wish_list__table tr > td:last-child > button {
    cursor: pointer;
    font-size: 14px;
    padding: 8px 15px;
    background-color: #151515;
    color: #fff;
    border: none;
    text-transform: uppercase;
    transition: 0.4s;
}

.wish_list__table > tbody > tr > td:last-child > button:hover {
    color: black;
    background-color: #fbddd6; 
}

.wish_list__product_name {
    color : #534f4f;
    cursor: pointer;

   
}

.wish_list__empty_message {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: 70%;
    font-size: 14px;

    padding: 15px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}